@font-face {
    font-family: "Roboto", "Arial", sans-serif;
    src: url(../../fonts/Roboto-Light.woff2) format(woff2),
        url(../../fonts/Roboto-Light.woff) format(woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto", "Arial", sans-serif;
    src: url(../../fonts/Roboto-Medium.woff2) format(woff2),
        url(../../fonts/Roboto-Medium.woff1) format(woff);
    font-style: normal;
    font-weight: 500;

}

@font-face {
    font-family: "Roboto", "Arial", sans-serif;
    src: url(../../fonts/Roboto-Bold.woff2) format(woff2),
        url(../../fonts/Roboto-Bold.woff) format(woff);
    font-style: normal;
    font-weight: 700;

}

@font-face {
    font-family: "Roboto", "Arial", sans-serif;
    src: url(../../fonts/Roboto-Black.woff2) format(woff2),
        url(../../fonts/Roboto-Black.woff) format(woff);
    font-style: normal;
    font-weight: 900;

}